.control-group {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    color: #dee0e0;
    background-color: #354045;
    opacity: 0.85;
    width: 360px;
}
.control-group .hidden {
    display: none;
}
.control-group header {
    background-color: #202a2f;
    padding: 5px;
    margin: 0px;
}
.control-group header h3 {
    display: inline-block;
    margin: 0px;
}
.control-group header button.close, .control-group header button.minimize, .control-group header button.maximize {
    background-color: #fff;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    border: 0;
}
.control-group header button.close {
    -webkit-mask-image: url(data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20d%3D%22M28.4%200H3.6C1.6%200%200%201.6%200%203.6v24.9c0%202%201.6%203.6%203.6%203.6h24.9c2%200%203.6-1.6%203.6-3.6V3.6C32%201.6%2030.4%200%2028.4%200m-6%2024.9L16%2018.5l-6.4%206.4-2.5-2.5%206.4-6.4-6.4-6.4%202.5-2.5%206.4%206.4%206.4-6.4%202.5%202.5-6.4%206.4%206.4%206.4-2.5%202.5z%22%2F%3E%3C%2Fsvg%3E);
    mask-image: url(data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20d%3D%22M28.4%200H3.6C1.6%200%200%201.6%200%203.6v24.9c0%202%201.6%203.6%203.6%203.6h24.9c2%200%203.6-1.6%203.6-3.6V3.6C32%201.6%2030.4%200%2028.4%200m-6%2024.9L16%2018.5l-6.4%206.4-2.5-2.5%206.4-6.4-6.4-6.4%202.5-2.5%206.4%206.4%206.4-6.4%202.5%202.5-6.4%206.4%206.4%206.4-2.5%202.5z%22%2F%3E%3C%2Fsvg%3E);
}
.control-group header button.minimize {
    -webkit-mask-image: url(data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.222%200H1.778C.796%200%200%20.796%200%201.778v12.444C0%2015.204.796%2016%201.778%2016h12.444c.982%200%201.778-.796%201.778-1.778V1.778C16%20.796%2015.204%200%2014.222%200zM3%207h10v2H3V7z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
    mask-image: url(data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.222%200H1.778C.796%200%200%20.796%200%201.778v12.444C0%2015.204.796%2016%201.778%2016h12.444c.982%200%201.778-.796%201.778-1.778V1.778C16%20.796%2015.204%200%2014.222%200zM3%207h10v2H3V7z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}
.control-group header button.maximize {
    -webkit-mask-image: url(data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7%207H3v2h4v4h2V9h4V7H9V3H7v4zm7.222-7H1.778C.796%200%200%20.796%200%201.778v12.444C0%2015.204.796%2016%201.778%2016h12.444c.982%200%201.778-.796%201.778-1.778V1.778C16%20.796%2015.204%200%2014.222%200z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
    mask-image: url(data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7%207H3v2h4v4h2V9h4V7H9V3H7v4zm7.222-7H1.778C.796%200%200%20.796%200%201.778v12.444C0%2015.204.796%2016%201.778%2016h12.444c.982%200%201.778-.796%201.778-1.778V1.778C16%20.796%2015.204%200%2014.222%200z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}
.control-group .sub-heading {
    padding: 5px;
    margin: 0px;
    background-color: #54666c;
}
.control-group .slider .container {
    margin: 5px;
}
.control-group .slider .container .range {
    width: 99%;
    margin: 0px;
    vertical-align: top;
    outline: none;
    -webkit-appearance: none;
    border: 1px solid #75797b;
    background: repeating-linear-gradient(to right,
        #75797b,
        #75797b 2px,
        #354045 2px,
        #354045 4px
    );
}
.control-group .slider .container .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #6fa53b;
    cursor: pointer;
    border-radius: 0%;
}
.control-group .slider .container .range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #6fa53b;
    cursor: pointer;
    border-radius: 0%;
}
.control-group .slider .container .range::-ms-thumb {
    width: 16px;
    height: 16px;
    background: #6fa53b;
    cursor: pointer;
    border-radius: 0%;
}
.control-group .legend .container {
    margin: 5px;
    display: grid;
    gap: 0px;
}
.control-group .legend .container .min-val {
    grid-column: 1 / 1;
    grid-row: 1;
    border-left: 1px solid #75797b;
    text-align: left;
}
.control-group .legend .container .med-val {
    grid-column: 2 / 2;
    grid-row: 1;
    text-align: center;
}
.control-group .legend .container .max-val {
    grid-column: 3 / 3;
    grid-row: 1;
    border-right: 1px solid #75797b;
    text-align: right;
}
.control-group .legend .container .gradient {
    height: 16px;
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    border: 1px solid #75797b;
}