.leaflet-legend-control, .leaflet-slider-control {
    display: block;
    background: none;
    box-shadow: none;
    border-width: 0px;
}
.leaflet-slider-control, div#leaflet-control {
    background-color: #FFFFFF;
    opacity: 0.75;
}
div#color-scale-line {
    width: 300px;
    background-image: none;
    position: relative;
    bottom: 15px;
    right: -15px;
    border-width: 0px;
}
div#leaflet-control {
    display: block;
    width: 360px;
}
.leaflet-control-color-scale-line {
    margin: 15px 5px 5px 5px;
    position: inherit;
    height: 5px;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}
div#scale-line-gradient {
    width: 300px;
    float: right;
}
.leaflet-control-color-scale, .leaflet-slider-control {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11px;
    color: #000;
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 50%);
    border-radius: 5px;
    padding: 0;
    height: 26px;
}
.scale-value span {
    line-height: 100%;
    vertical-align: top;
}
.scale-value:not(:last-of-type) {
    border-left: 1px solid #777;
}
.scale-value:last-of-type {
    border-right: 1px solid #777;
}
div#scale-value {
    margin-left: 10px;
    border:0
}
.scale-value {
    position: absolute;
    display: inline;
    bottom: 0px;
    height: 16px;
    vertical-align: top;    
}
.scale-min-value {
    left: 0%;
}
.scale-max-value {
    right: 0%;
}
.leaflet-slider-control {
    background-color: #FFFFFF;
    opacity: 0.75;
    width: 360px;
}
.leaflet-slider-control input[type=range] {
    width: 75%;
    vertical-align: top;
}
.leaflet-slider-control label {
    padding-left: 10px;
    padding-right: 15px;
    width:25px;
}
.leaflet-slider-control label, .leaflet-slider-control output, .leaflet-slider-control input[type=range] {
    line-height: 26px;
    height: inherit;
}